/* --- MAIN ELEMENTS ----- */

* {
    box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 1em;
  font-family: 'Avenir Light', sans-serif;
  color: #707070;
}

/* --- GRID LAYOUT ----- */

.grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "header"
        "navigation"
        "main";
      }

.header {
  grid-area: header;
  }

.navigation {
  grid-area: navigation;
  }

.main {
  grid-area: main;
  }

.main-content-wrapper {
  display: grid;
  width: 100%;
  }

.widget-container-full,
.widget-container-half {
  width: 90vw;
  }

@media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 55px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";
      }

  .main-content-wrapper {
      grid-template-columns: 50%;
      }

  .widget-container-full {
    width: 88vw;
    }

  .widget-container-half {
    width: 42vw;
    }

    .traffic,
    .social-stats {
      grid-column: 1 / span: 2;
    }

    .daily,
    .members,
    .message {
      grid-column: 1 / span: 1;
    }

    .mobile-users,
    .recent-activity,
    .settings {
      grid-column: 2 / span: 1;
    }

}


/*----- Header -----*/

header {
  color: white;
  background-color: #7477BF;
}

h1 {
  float: left;
  clear: right;
  padding-left: 10px;
}

.user {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
}

.bell {
  height: 20px;
  padding-right: 10px;
  position: relative;
}

.bell:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

#notifications img {
  position: absolute;
  height: 10px;
  top: 35px;
}

.user img {
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.user h3 {
  margin: 0;
  font-size: 1em;
}

/*----- Navigation -----*/




/*----- Settings -----*/

.switch-material.switch-light > span {
	display: inline-block;
	padding: 10px;
}

.switch-light strong {
	padding-right: 10px;
}
